#directory
  &.view-list
    .maker
      @extend .lg-padding-right
      @extend .lg-padding-bottom
      @extend .lg-padding-left
      @extend .lg-margin-bottom
      background: $white

      h3
        font-size: 18px

      p
        @extend .sm-margin-bottom
        font-size: 12px

  .tag
    @extend .sm-padding-right
    @extend .sm-padding-left
    @extend .sm-margin-right
    background: $smoke
