h1
  font-size: 3em !important

h2
  font-size: 2.5em !important

h3
  font-size: 2em !important

.jgm-logo
  margin-top: $lg-space
  margin-bottom: $lg-space
  width: 220px

.posts-slider
  .slide-caption
    @extend .lg-padding
    top: calc(50% - 60px)
    left: 10%
    width: 80%

  .slide-caption-title
    font-size: 20px

.home-banner
  @extend .lg-margin-bottom

  &:nth-child(3)
    .image-overlayed-wrapper
      img
        top: 0

.image-overlayed-wrapper
  height: auto
