$fixed-logo-height: 110px

%mobile-links
  @extend .md-padding-top
  @extend .md-padding-bottom
  display: block
  font-size: 24px

#mobile-menu
  @extend %fast-transitions
  padding: $fixed-logo-height $lg-space $lg-space
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: none
  overflow-y: scroll

  &.open
    right: 0
    bottom: 0
    background: $body-bg
    display: block

    #mobile-menu-links
      display: block

.fixed-logo
  @extend .lg-padding
  background: $white
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: $fixed-logo-height
  box-shadow: 0 2px 3px rgba($black, .0625)

.panel-title
 a
   @extend %mobile-links

#mobile-directory-menu-links,
#mobile-journal-menu-links
  .panel
    @extend %menu-animation

#mobile-menu-links
  @extend .xlg-margin-top
  display: none

  div
    @extend %menu-animation
    @extend %main-headings
    border-bottom: $light-turqoise-divider

    &:first-child
      border-top: $light-turqoise-divider

    a
      @extend %mobile-links

.icon-dehaze,
.icon-close
  @extend .lg-padding
  position: absolute
  top: $lg-space * 2
  right: 0
  font-size: 24px
  color: rgba($dark-turqoise, .75)
  cursor: pointer

  &:before
    @extend %fast-transitions
