// infinite rotation
@-webkit-keyframes spin
  from
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
  to
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)

@keyframes spin
  from
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
  to
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)

.spinning
  -webkit-animation: spin 4s linear infinite
  animation: spin 4s linear infinite


// routes transitions
@keyframes slide-in
  from
    transform: translateX(-$xxlg-space)
    opacity: 0

  to
    transform: translateX(0)
    opacity: 1


@keyframes slide-out
  from
    transform: translateY(0)
    opacity: 1

  to
    transform: translateY($xxlg-space)
    opacity: 0



@keyframes fade-in
  from
    transform: scale(1.25, 1.25)
    opacity: 0

  to
    transform: scale(1, 1)
    opacity: 1


.slide-enter-active
  animation-name: slide-in
  animation-duration: .125s
  animation-duration: forwards

.slide-leave-active
  animation-name: slide-out
  animation-duration: .125s
  animation-duration: forwards


.fade-enter-active
  animation-name: fade-in
  animation-duration: .25s
  animation-duration: forwards
