// grayscale
$white       : #FFFFFF
$ghost       : #FAFAFA
$snow        : #F9F9F9
$perl        : #f5f5f5
$silver      : #EFEFEF
$smoke       : #EEEEEE
$gainsboro   : #DDDDDD
$iron        : #CCCCCC
$base        : #AAAAAA
$aluminum    : #999999
$jumbo       : #888888
$monsoon     : #777777
$charcoal    : #555555
$tuatara     : #444444
$oil         : #333333
$jet         : #222222
$black       : #000000

// colors



// constants


