footer
  @extend .xxlg-margin-top
  @extend .xxlg-padding-top
  @extend .text-center

  .light-pink &
    border-top: 2px solid $pink

.footer-social
  font-size: 18px

.footer-menu
  @extend .inline-list
  @extend .no-margin

.footer-menu-item
  @extend .md-padding
  @extend .text-uppercase
  @extend .din-web-cond
  font-size: 12px
  letter-spacing: 1px

  a
    &.router-link-exact-active
      text-decoration: underline

  &:hover
    a
      color: $black



