nav
  @extend .text-center

  .light-pink &
    border-bottom: 2px solid $pink

  .nav-item
    @extend %link-hoverings
    @extend .din-web-cond
    display: inline-block
    text-transform: uppercase
    font-size: 16px
    line-height: 1em
    letter-spacing: 1px
    text-align: center

    a
      @extend %link-hoverings
      @extend .md-padding-top
      @extend .xlg-padding-right
      @extend .md-padding-bottom
      @extend .xlg-padding-left
      display: block
      border: 1px dashed transparent

      &.router-link-exact-active
        border: 1px solid rgba($dark-turqoise, 1/16)

    &:hover
      background: $dark-turqoise

      a
        color: $white
