%main-link-spacing
  @extend %link-hoverings, .md-padding-top, .xlg-padding-right, .md-padding-bottom, .xlg-padding-left

nav
  @extend .text-center, .xlg-padding-bottom

  .light-pink &
    border-bottom: 2px solid $pink

  .nav-item
    @extend %link-hoverings, .din-web-cond
    display: inline-block
    text-transform: uppercase
    font-size: 16px
    line-height: 1em
    letter-spacing: 1px
    text-align: center

    &.auth-nav-item
      position: relative
      border-left: 1px solid $light-turqoise
      background: #ebeced

      &:hover
        #profile-avatar
          top: calc(50% - 75px)

      .logged-in
        color: $brand-danger

      .logged-out
        color: $brand-primary

      small
        @extend .text-right
        position: absolute
        top: 4 * $md-space
        right: $sm-space
        font-size: 11px

        a
          @extend .no-padding
          color: $gray-light

          &.router-link-exact-active.is-active
            border: 1px solid transparent

    a, div
      @extend %main-link-spacing
      display: block
      border: 1px dashed transparent

      &.router-link-exact-active
        border: 1px solid rgba($dark-turqoise, 1/2)

      &.featured-makers
        @extend .no-padding

        div
          @extend %main-link-spacing

    &:hover
      background: $dark-turqoise

      a
        color: $white

#profile-avatar
  @extend %fast-transitions
  position: absolute
  top: calc(50% - 60px)
  right: calc(50% - 35px)
  width: 70px
  border-radius: 50%
  z-index: -1
