<div id="suppliers-single" class="supplier">
	<div class='pool text-center loader' ng-if='vm.loading'>
		<div class='twelve fill'>
			<div class='inner'>
				loading data...
			</div>
		</div>
		<div style='clear:both'></div>
	</div> 

	<div class="pool" ng-cloak ng-if="!vm.loading">
		<div class="nine fill side-left" side="left">
			<div class="entry-content">
				<div class="inner">
					<div class="inner-wrapper">
						<div class="title">
							<h3 class="post-title">{{vm.detail.name}}</h3>
							<div class="short-info">{{vm.detail.briefDescription}}</div>
						</div>

						<div class="image-holder">
							<img ng-src="{{vm.detail.images[0].url}}" class="attachment-thumbnail wp-post-image">
						</div>

						<div class="content">
							<p>{{vm.detail.longDescription}}</p>
							<p class="region">{{vm.detail.address}}</p>          
						</div>
					</div>

					<br />		
					<div class="inner" ng-if="vm.detail.projects.length"> 
						<div class="inner-wrapper"> 
							<div class="pool projects-list">
								<div class="twelve fill">
									<h6>projects</h6><br/>
								</div>		
								<div class="six fill" ng-repeat="p in vm.detail.projects track by $index">
									<div class="list-item"> 
										<img ng-src="{{p.imageUrl}}" title="{{p.projectName}}" />
										<br />
										<h6>{{p.projectName}}</h6>
										<div class="item">
											{{p.projectDescription | limitTo:200 }}
										</div> 
									</div> 	      			
								</div>
								
								<div style='clear:both'></div>
							</div>
						</div> 
					</div> 
				</div>
			</div>
		</div>

		<div class="three fill side-right" side="right">
			<div>
				<div class="side-content"> 
					<div class="inner"> 
						<div class="inner-wrapper"> 

							<div ng-if="vm.detail.businessTypes.length" class="list-item"> 
								<h6>Business Type</h6>
								<div class="item">
									<span ng-repeat="bt in vm.detail.businessTypes">
                						<a ng-click="vm.filterContent('businessType', service.urlFriendly)" ui-sref="directory.filter({filter:'Business-Type',search:bt.urlFriendly})"> {{bt.name}}</a>
									<span ng-if="!$last">, </span></span>

								</div> 
							</div> 

							<div ng-if="vm.detail.products.length" class="list-item"> 
								<h6>Product types</h6>
								<div class="item">
									<span ng-repeat="p in vm.detail.products">
                						<a ng-click="vm.filterContent('products', service.urlFriendly)" ui-sref="directory.filter({filter:'Product-Type',search:p.urlFriendly})"> {{p.name}}</a>
									<span ng-if="!$last">, </span></span>

								</div> 
							</div> 

							<div ng-if="vm.detail.serviceTypes.length" class="list-item"> 
								<h6>SERVICES</h6>
								<div class="item">
									<span ng-repeat="service in vm.detail.serviceTypes"> 
                						<a ng-click="vm.filterContent('serviceTypes', service.urlFriendly)" ui-sref="directory.filter({filter:'Service-Types',search:service.urlFriendly})">{{service.name}}</a>
										<span ng-if="!$last">, </span>
									</span>
								</div> 
							</div> 

							<div ng-if="vm.detail.processedTags.length" class="list-item"> 
								<h6>TAGS</h6>
								<div class="item">
									<span ng-repeat="tag in vm.detail.processedTags"> 
                						<a ng-click="vm.filterContent('processedTags', tag)"  ui-sref="directory.filter({filter:'Tags',search:tag.urlFriendly})">{{tag.name}}</a>
										<span ng-if="!$last">, </span>
									</span>
								</div> 
							</div> 

							<div ng-if="vm.detail.region.name" class="list-item"> 
								<h6>Region </h6>
								<div class="item">
                					<a ng-click="vm.filterContent('region', service.urlFriendly)"  ui-sref="directory.filter({filter:'Region',search:vm.detail.region.name})">{{vm.detail.region.name}}</a>
								</div> 
							</div> 

							<div ng-if="vm.detail.telephone || vm.detail.email || vm.detail.address" class="list-item"> 
								<h6>CONTACT DETAILS</h6>
								<div class="item">
									<span ng-if="vm.detail.email"><a analytics-link='mail' href="mailto:{{vm.detail.email}}">{{vm.detail.email}}</a></span><br>
									<span ng-if="vm.detail.telephone">{{vm.detail.telephone}}</span><br>
									<span ng-if="vm.detail.address">{{vm.detail.address}}</span><br>
								</div> 
							</div> 

							<div ng-if="vm.detail.openingHours" class="list-item"> 
								<h6>OPENING HOURS</h6>
								<div class="item">
									<span ng-if="vm.detail.openingHours">{{vm.detail.openingHours}}</span>
								</div> 
							</div> 

							<div ng-if="vm.detail.facebook || vm.detail.instagram || vm.detail.twitter" class="list-item"> 
								<h6>SOCIAL NETWORKS</h6>
								<div class="item">
									<span ng-if="vm.detail.facebook"><a href="{{vm.detail.facebook}}">Join us on Facebook</a></span>
								</div> 
								<div class="item">
									<span ng-if="vm.detail.instagram"><a href="{{vm.detail.instagram}}">Follow us on Instagram</a></span>
								</div> 
								<div class="item">
									<span ng-if="vm.detail.twitter"><a href="{{vm.detail.twitter}}">Follow us on Twitter</a></span>
								</div> 
							</div> 

							<div ng-if="vm.detail.website" class="list-item"> 
								<h6>WEBSITE</h6>
								<div class="item">
									<a analytics-link='external-page' href="{{vm.detail.website}}" target="_new">{{vm.detail.website}}</a>
								</div> 
							</div> 
							<div ng-if="vm.detail.mapURL" class="list-item"> 
								<h6>MAP</h6>
								<div class="image-holder" id="embededMap"> 
									<google-map pbcode="vm.detail.mapURL"></google-map>
								</div> 
							</div> 

							<div ng-if="vm.detail.customer" class="list-item"> 
								<h6>CUSTOMER</h6>
								<div class="item">
									{{vm.detail.customer}}
								</div> 
							</div> 
						</div> 
					</div> 

				</div>
			</div>
		</div>

	</div>
</div>