  <div class='pool text-center loader' ng-if='vm.loading'>
    <div class='twelve fill'>
      <div class='inner'>
          loading data...
      </div>
    </div>
    <div style='clear:both'></div>
  </div> 

  <div class='pool' ng-if='!vm.loading'>
    <div class='three fill'>
      <div class='inner'>

        <div class="sidebar-area">

          <ul make-accordion class="widget widget_taxonomy">
            <h6 class="widget-title" ui-sref="directory">SEARCH {{vm.suppliersNumber}} SUPPLIERS</h6>
          </ul>

          <ul make-accordion class="widget widget_taxonomy">
            <h6 class="widget-title">Location</h6>
              <ul>
                <li class="cat-item" ng-repeat="x in vm.region">
                  <a ng-click="vm.filterContent('region', x.filter)" ui-sref="directory.filter({filter:'Region',search:x.urlFriendly})">{{x.filter}}</a> ({{x.occurence}})
                </li>
              </ul>
          </ul>

          <ul make-accordion class="widget widget_taxonomy">
            <h6 class="widget-title">What are you making?</h6>
              <ul>
                <li class="cat-item" ng-repeat="x in vm.products">
                  <a ng-click="vm.filterContent('products', x.filter)" ui-sref="directory.filter({filter:'Product-Types',search:x.urlFriendly})">{{x.filter}}</a> ({{x.occurence}})
                </li>
              </ul>
          </ul>

          <ul make-accordion class="widget widget_taxonomy">
            <h6 class="widget-title">Who do you need?</h6>
              <ul>
                <li ng-repeat="x in vm.businesssTypes">
                  <a ng-click="vm.filterContent('businessTypes', x.filter)" ui-sref="directory.filter({filter:'Business-Types',search:x.urlFriendly})">{{x.filter}}</a> ({{x.occurence}})
                </li>
              </ul>
          </ul>

          <ul make-accordion class="widget widget_taxonomy">
            <h6 class="widget-title">What do you need?</h6>
              <ul>
                <li class="cat-item" class="cat-item" ng-repeat="x in vm.serviceTypes">
                  <a ng-click="vm.filterContent('serviceTypes', x.filter)" ui-sref="directory.filter({filter:'Service-Types',search:x.urlFriendly})">{{x.filter}}</a> ({{x.occurence}})
                </li>
              </ul>
          </ul>

          <ul make-accordion class="widget widget_taxonomy">
            <h6 class="widget-title" ui-sref="directory.az">Directory A-Z</h6>
          </ul>

        </div>
        
      </div>
    </div>

    <div class='nine fill'>  
        <ui-view ng-if="!vm.loading"></ui-view>
    </div>

    <div style='clear:both'></div>
  </div> 
