  <div class="inner outter">
    <div class="image-holder">
      <a ui-sref="details({id:i.id,page:i.route})" ng-click="vm.selectDetail(i.id)">
        <img ng-src="{{i.images[0].url}}" class="attachment-thumbnail wp-post-image">
        <div class="cover"></div>
      </a>
    </div>
    <div class="info">
      <div class="inner">
        <h3 class="post-title">
          <a ui-sref="details({id:i.id,page:i.route})" ng-click="vm.selectDetail(i.id)">{{i.name}}</a>
        </h3>
        <div class="short-info">{{i.briefDescription}} </div>
      </div>
    </div>
  </div>
