[type="search"]
  @extend .text-center
  font-size: 13px
  transition: all .5s ease
  border: 2px solid transparent

  &:focus
    @extend .text-left
    border: $light-turqoise-divider
    outline: 0
