#about
  .about-title
    h1
      @extend .xlg-padding-top
      @extend .xlg-margin-bottom
      @extend .xlg-padding-bottom
      border-bottom: $pink-divider
      font-size: 70px
      line-height: 1

  .about-content
    @extend .xlg-margin-bottom
    @extend .xlg-padding-bottom
    border-bottom: $pink-divider

  .about-more-content
    h1, h2
      font-size: 35px

  .helen
    @extend .xlg-padding-top

    img
      width: 80%
      margin: 0 10%

  .image-overlayed-wrapper
    @extend .sm-margin-bottom


  .banner-title
    @extend .sm-padding-bottom
    display: block
    font-size: 18px

  .banner-content
    display: none

