.about-page,
.sign-up-page,
.justgotmade-weekender-page,
.disclaimer-page,
.privacy-policy-page,
.contact-page
  background: $light-pink

  .page
    @extend .xlg-margin-bottom
    @extend .xlg-padding-bottom
    border-top: $pink-divider
    border-bottom: $pink-divider

