// home slider: a single slide for now
#home-slider
  @extend .xlg-padding-top

  .slide
    position: relative

    img
      width: 100%

  .slide-caption
    @extend .xlg-padding
    color: $white
    background: rgba($dark-turqoise, .9)
    position: absolute
    top: 120px
    left: 25%
    width: 50%

  .slide-caption-logo
    width: 90px
    display: block
    margin: 0 auto
    fill: $white

  .slide-caption-title
    font-size: 28px

// home banners
.home-banner
  // exception: rise the JOIN US logo a bit
  &:nth-child(3)
    .image-overlayed-wrapper
      img
        top: -$lg-space

  .banner-inner
    background: $white

  .banner-title
    font-size: 18px

  .banner-content
    @extend .xlg-padding-bottom
    display: block

#home-slider,
.home-banner
  @extend .text-center

.banner-title,
.slide-caption-title
  @extend .din-web-cond
  @extend .text-uppercase

.banner-content,
.slide-caption-content
  font-style: italic
