// home banners
.home-banner
  // exception: rise the JOIN US logo a bit
  &:nth-child(3)
    .image-overlayed-wrapper
      img
        top: -$lg-space

  .image-overlayed-wrapper
    overflow: hidden
    height: 210px

  .banner-inner
    background: $white

  .banner-title
    font-size: 18px

  .banner-content
    @extend .xlg-padding-bottom
    display: block

#home-slider,
.home-banner
  @extend .text-center

.banner-title,
.slide-caption-title
  @extend .din-web-cond, .text-uppercase

.banner-content,
.slide-caption-content
  font-style: italic
