@import "path";
@import "variables";

@font-face {
  font-family: 'jgm';
  src:
    url('#{$icomoon-font-path}/jgm.ttf?ywe16e') format('truetype'),
    url('#{$icomoon-font-path}/jgm.woff?ywe16e') format('woff'),
    url('#{$icomoon-font-path}/jgm.svg?ywe16e#jgm') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'jgm' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cat-star {
  &:before {
    content: $icon-cat-star;
  }
}
.icon-cat-conversation {
  &:before {
    content: $icon-cat-conversation;
  }
}
.icon-cat-happening {
  &:before {
    content: $icon-cat-happening;
  }
}
.icon-cat-school {
  &:before {
    content: $icon-cat-school;
  }
}
.icon-cat-spotlight {
  &:before {
    content: $icon-cat-spotlight;
  }
}
.icon-cat-discuss {
  &:before {
    content: $icon-cat-discuss;
  }
}
.icon-list {
  &:before {
    content: $icon-list;
  }
}
.icon-grid {
  &:before {
    content: $icon-grid;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-file-o {
  &:before {
    content: $icon-file-o;
  }
}
.icon-image {
  &:before {
    content: $icon-image;
  }
}
.icon-photo {
  &:before {
    content: $icon-photo;
  }
}
.icon-picture-o {
  &:before {
    content: $icon-picture-o;
  }
}
.icon-eye {
  &:before {
    content: $icon-eye;
  }
}
.icon-eye-slash {
  &:before {
    content: $icon-eye-slash;
  }
}
.icon-trash-o {
  &:before {
    content: $icon-trash-o;
  }
}
.icon-comments {
  &:before {
    content: $icon-comments;
  }
}
.icon-heart-o {
  &:before {
    content: $icon-heart-o;
  }
}
.icon-linkedin-square {
  &:before {
    content: $icon-linkedin-square;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-twitter-square {
  &:before {
    content: $icon-twitter-square;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-facebook-f {
  &:before {
    content: $icon-facebook-f;
  }
}
.icon-facebook-square {
  &:before {
    content: $icon-facebook-square;
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest;
  }
}
.icon-pinterest-square {
  &:before {
    content: $icon-pinterest-square;
  }
}
.icon-google-plus {
  &:before {
    content: $icon-google-plus;
  }
}
.icon-google-plus-square {
  &:before {
    content: $icon-google-plus-square;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-instagram-with-circle {
  &:before {
    content: $icon-instagram-with-circle;
  }
}

