$icomoon-font-path: "fonts" !default;

$icon-vibration: "\e62d";
$icon-arrow_back: "\e5c4";
$icon-arrow_downward: "\e5db";
$icon-arrow_drop_down: "\e5c5";
$icon-arrow_drop_up: "\e5c7";
$icon-arrow_forward: "\e5c8";
$icon-arrow_upward: "\e5d8";
$icon-check: "\e5ca";
$icon-navigate_before: "\e408";
$icon-navigate_next: "\e409";
$icon-close: "\e5cd";
$icon-dehaze: "\e3c7";
$icon-done: "\e876";
$icon-done_all: "\e877";
$icon-expand_less: "\e5ce";
$icon-expand_more: "\e5cf";
$icon-favorite: "\e87d";
$icon-favorite_border: "\e87e";
$icon-filter_list: "\e152";
$icon-fingerprint: "\e90d";
$icon-format_align_center: "\e234";
$icon-format_align_justify: "\e235";
$icon-format_align_left: "\e236";
$icon-format_align_right: "\e237";
$icon-format_list_bulleted: "\e241";
$icon-format_list_numbered: "\e242";
$icon-reorder: "\e8fe";
$icon-sort: "\e164";
$icon-storage: "\e1db";
$icon-subject: "\e8d2";
$icon-toc: "\e8de";
$icon-view_agenda: "\e8e9";
$icon-view_array: "\e8ea";
$icon-view_carousel: "\e8eb";
$icon-view_column: "\e8ec";
$icon-view_comfy: "\e42a";
$icon-view_compact: "\e42b";
$icon-view_day: "\e8ed";
$icon-view_headline: "\e8ee";
$icon-view_list: "\e8ef";
$icon-view_module: "\e8f0";
$icon-view_quilt: "\e8f1";
$icon-view_stream: "\e8f2";
$icon-view_week: "\e8f3";
$icon-cat-star: "\e900";
$icon-cat-conversation: "\e901";
$icon-cat-happening: "\e902";
$icon-cat-school: "\e903";
$icon-cat-spotlight: "\e904";
$icon-cat-discuss: "\e905";
$icon-grid: "\e909";
$icon-the-dots: "\e90a";
$icon-home: "\f015";
$icon-file-o: "\f016";
$icon-image: "\f03e";
$icon-photo: "\f03e";
$icon-picture-o: "\f03e";
$icon-eye: "\f06e";
$icon-eye-slash: "\f070";
$icon-trash-o: "\f014";
$icon-comments: "\f086";
$icon-linkedin-square: "\f08c";
$icon-twitter: "\f099";
$icon-twitter-square: "\f081";
$icon-facebook: "\f09a";
$icon-facebook-f: "\f09a";
$icon-facebook-square: "\f082";
$icon-pinterest: "\f0d2";
$icon-pinterest-square: "\f0d3";
$icon-google-plus: "\f0d5";
$icon-google-plus-square: "\f0d4";
$icon-instagram: "\e906";
$icon-instagram-with-circle: "\e907";

